.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(59deg, #205be4, #ebd425);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 2rem;
  max-width: 400px;
}

.LockerButton {
  border: none;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.LockerButton:hover {
  background-color: transparent;
}

.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: 0.5rem;
  max-width: 400px;
}

.HomepageImage {
  width: 130px;
  height: auto;
  padding: 15px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #537ee1;
}

button:hover {
  background-color: #537ee1;
  color: white;
}

.LogoImage {
  width: 200px;
  height: auto;
  padding: 20px;
}

.ClosedLockerImage {
  width: auto;
  height: 500px;
  padding-top: 6px;
}

.OpenLockerImage {
  width: auto;
  height: 500px;
  padding-left: 131px;
}

.WelcomeText {
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  white-space: nowrap;
}

.Title {
  font-size: 4rem;
  font-weight: bold;
  white-space: nowrap;
  padding-bottom: 20px;
}

text {
  font-size: 1.5rem;
}

.Locker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  max-width: 400px;
}